NumbersToWordsClient/Service References/NumberToWordsService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/NumbersToWordsWCFServer/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NumbersToWordsWCFServer" />
  <xs:element name="GetWordRepresentation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWordRepresentationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NumbersToWordsWCFServer" minOccurs="0" name="GetWordRepresentationResult" type="q1:NTWResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>